@font-face{
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf')
}

*{
  font-family: 'RobotoMono', monospace
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background: linear-gradient(to right, rgb(41, 128, 185), rgb(44, 62, 80));
  font-size: 10px
}